/* You can add global styles to this file, and also import other style files */

@import url('../node_modules/todomvc-common/base.css');
@import url('../node_modules/todomvc-app-css/index.css');

.app-root-loader{
  text-align: center;
  padding: 30px;
}

.toolbar {
	color: #777;
  /*background-color: lightslategray;*/
	padding: 5px 10px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
  float: right;
}